*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-heading: "Red Rose", cursive;
  --font-para: "Poppins", sans-serif;
  --main-color: #ff5500;
  --secondary-color: #003399;
  --dark-font: #1d1d1d;
  --light-font: #5a5a5a;
}

body {
  /* background-color: var(--dark-font); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #e02b20 */
.home {
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 0 5%;
  overflow-x: hidden;
}

.header {
  height: 15vh;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 10;
}

.logo {
  width: 130px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  padding: 30px 30px;
  border-radius: 10px;
}
.list {
  list-style: none;
}

.list a {
  text-decoration: none;
  font-family: var(--font-heading);
  color: white;
  font-weight: 400;
  margin: 0 20px;
  transition: color 0.3s ease;
}

.list a:hover {
  color: #ff6b20;
}

.listDropDown {
  position: relative;
  cursor: pointer;
}

.dropDown {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.582);
  width: 200px;
  /* top: calc(100% + 30px); */
  top: 270%;
  border-radius: 5px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.dropDownActive {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}

.dropDownList {
  list-style: none;
  text-align: center;
}
.dropDownList a {
  margin: 0;
  display: inline-block;
  padding: 7px 0;
}

.homeContent {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.homeTagLine {
  font-family: var(--font-para);
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  margin-top: -15vh;
}

.homeMainHeading {
  font-size: 55px;
  font-family: var(--font-heading);
  text-align: center;
}

.homePara {
  font-family: var(--font-para);
  font-weight: 400;
  width: 600px;
  text-align: center;
  font-size: 20px;
  margin: 30px 0;
}

.homeButton {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  font-family: var(--font-para);
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.homeButton i {
  margin: 0 5px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-100%);
}

.homeButton:hover .buttonRotate {
  opacity: 1;
  transform: translateY(0%);
}

.homeButton:hover {
  transform: scale(1.1);
}

.learnMore {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: var(--font-para);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.learnMore i {
  margin-left: 10px;
  transform: rotate(-90deg);
  font-size: 20px;
  transition: all 0.3s ease;
}

.learnMore:hover i {
  transform: rotate(0deg);
}

.burger {
  display: flex;
  flex-direction: column;
  display: none;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 1px;
  background-color: white;
}

.line2 {
  margin: 6px 0;
}

.diffLine {
  display: block;
}

.diff {
  color: #ff9865;
}

/* About */

.about {
  background-color: white;
  max-width: 1920px;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 50px 0;
  overflow: hidden;
}

.aboutPart1,
.aboutPart2 {
  display: flex;
  align-items: center;
}

.aboutPart1Left {
  width: 40%;
}

.aboutPart1Right {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMainHeading {
  font-family: var(--font-heading);
  color: var(--dark-font);
  font-size: 47px;
  width: 600px;
}

.aboutPara {
  font-size: 20px;
  color: var(--light-font);
  font-family: var(--font-para);
  width: 650px;
  margin: 20px 0;
}

.aboutButton {
  background-color: var(--main-color);
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 20px;
  text-decoration: none;
  font-family: var(--font-para);
  margin-top: 30px;
  transition: all 0.3s ease;
}

.aboutButton:hover {
  transform: scale(1.1);
}

.aboutButtonDiff {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.aboutImage1 {
  margin-left: -20px;
}
.aboutImage2 {
  margin-right: -100px;
}

.aboutImage1,
.aboutImage2 {
  width: 100%;
}

.aboutPart2Left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.aboutPart2Right {
  width: 40%;
}

/* Banner */

.banner {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
}

.bannerLeft {
  width: 30%;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.bannerRight {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.bannerHeading {
  color: white;
  font-size: 40px;
  font-family: var(--font-heading);
  width: 70%;
  text-align: center;
  font-weight: 400;
}

/* Pre Course */

.preCourse {
  background-color: white;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 5%;
  padding-top: 100px;
}

.preCourseMainHeading {
  font-family: var(--font-heading);
  font-size: 47px;
  color: var(--dark-font);
}
.preCoursePara {
  font-size: 20px;
  font-family: var(--font-para);
  color: var(--light-font);
  width: 700px;
  text-align: center;
}

.preCourseSwiper {
  padding: 100px 0 !important;
  width: 100%;
}

.preCourseCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preCourseCardImage {
  width: 100%;
  border-radius: 10px;
}

.preCourseHeading {
  font-family: var(--font-para);
  color: var(--dark-font);
  font-weight: 500;
}

.preCourseButton {
  text-decoration: none;
  font-family: var(--font-para);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.preCourseButton:hover {
  background-color: rgba(26, 26, 26, 0.06);
}

/* 
.pointContainer {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.point {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.pointLeft {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 5px 0px rgb(211, 211, 211);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointLeft i {
  color: var(--main-color);
  font-size: 25px;
}

.pointHeading {
  margin-left: 10px;
  font-family: var(--font-para);
  color: var(--dark-font);
  font-weight: 500;
} */

/* Course */

.course {
  background-color: white;
  display: flex;
  width: 100%;
  max-width: 1920;
  padding: 0 5%;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}

.courseLeft {
  width: 45%;
}

.courseImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(209, 209, 209);
}

.courseRight {
  width: 50%;
}

.courseMainHeading {
  color: var(--dark-font);
  font-family: var(--font-heading);
  font-size: 40px;
}
.courseSubHeading {
  color: var(--light-font);
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 30px;
}

.coursePara {
  font-size: 18px;
  color: var(--light-font);
  font-family: var(--font-para);
  margin: 15px 0;
}

.diffColor {
  color: var(--main-color);
}

.courseButton {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px 35px;
  font-size: 20px;
  font-family: var(--font-para);
  border-radius: 30px;
  margin-top: 50px;
  display: inline-block;
  transition: all 0.3s ease;
}

.courseButton:hover {
  transform: scale(1.1);
}

.swiper {
  padding: 10px 5px;
}

.card {
  box-shadow: 0px 0px 5px 0px rgb(211, 211, 211);
  display: flex;
  border-radius: 5px;
  min-height: 130px;
  /* cursor: grab; */
}

.cardLeft {
  padding: 10px 10px;
}
.cardLeft i {
  color: var(--main-color);
}

.cardRight {
  color: var(--light-font);
  font-family: var(--font-para);
  padding: 10px 0;
  padding-right: 10px;
}

.swiperButton {
  transform: scale(0.5);
}

.headingMobile {
  display: none;
}

/* Footer */

.footer {
  background-color: #434343;
  max-width: 1920px;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  width: 45%;
}
.footerRight {
  width: 45%;
}

.footerMainHeading {
  color: white;
  font-family: var(--font-heading);
  font-size: 40px;
  font-weight: 400;
}

.footerList {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.footerListLeft {
  padding-right: 10px;
  color: #ffd84d;
  font-size: 25px;
}

.footerListRight {
  font-family: var(--font-para);
  color: white;
  font-weight: 300;
}

.footerPara {
  color: white;
  font-family: var(--font-para);
  margin: 10px 0;
}

.marginPara {
  margin-top: 30px;
}

.socialContainer {
  display: flex;
}

.icon {
  background-color: rgba(0, 0, 0, 0.44);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 50%;
}

.icon i {
  color: white;
  font-size: 30px;
}

.headerFixed {
  position: fixed !important;
  width: 100% !important;
  padding: 10px 5% !important;
  left: 0 !important;
  top: 0 !important;
  background-color: #1d1d1d !important;
}

.headerFixed .ul {
  background: none;
}

.topButton {
  position: fixed;
  bottom: 10px;
  color: white;
  background-color: var(--dark-font);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.topButton a {
  color: white;
}

.topButton i {
  font-size: 30px;
}

@media screen and (max-width: 1600px) {
  .aboutMainHeading {
    font-size: 40px;
    width: 520px;
  }
  .aboutPara {
    font-size: 16px;
    width: 530px;
    margin: 10px 0;
  }
  .aboutButton {
    font-size: 18px;
  }
}
@media screen and (max-width: 1500px) {
  .homeMainHeading {
    font-size: 45px;
  }
  .homeTagLine {
    font-size: 15px;
  }
  .homePara {
    font-size: 18px;
  }
  .homeButton {
    margin-top: 20px;
  }
  .ul {
    padding: 23px 20px;
  }
  .list a {
    font-size: 14px;
  }
  .bannerHeading {
    font-size: 35px;
  }
  .courseMainHeading {
    font-size: 30px;
  }
  .courseSubHeading {
    font-size: 25px;
  }
  .coursePara {
    font-size: 15px;
  }
  .cardRight {
    font-size: 12px;
  }
  .card {
    min-height: 90px;
  }
  .footerMainHeading {
    font-size: 35px;
  }
  .footerListLeft {
    font-size: 18px;
  }
  .footerLeft {
    width: 55%;
  }
  .footerRight {
    width: 35%;
  }
}

@media screen and (max-width: 1400px) {
  .homePara {
    margin: 10px 0;
  }
  .homeMainHeading {
    line-height: 45px;
  }
  .aboutMainHeading {
    font-size: 30px;
    width: 360px;
  }
  .aboutPara {
    font-size: 15px;
    width: 490px;
    margin: 10px 0;
  }
  .aboutPart2 {
    margin-top: 30px;
  }
  .pointHeading {
    font-size: 17px;
  }
  .pointLeft i {
    font-size: 20px;
  }
  .pointLeft {
    width: 35px;
    height: 35px;
  }
  .preCourseMainHeading {
    font-size: 35px;
  }
  .preCoursePara {
    font-size: 18px;
    width: 560px;
  }
  .card {
    min-height: 100px;
  }
  .courseLeft {
    width: 35%;
  }
  .courseRight {
    width: 60%;
  }
  .preCourseHeading {
    font-size: 15px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1150px) {
  .homeMainHeading {
    font-size: 40px;
  }
  .homeTagLine {
    font-size: 13px;
  }
  .homePara {
    font-size: 16px;
    width: 500px;
  }
  .homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .learnMore {
    font-size: 13px;
  }
  .learnMore i {
    font-size: 15px;
  }
  .bannerHeading {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .header {
    position: relative;
  }
  .nav {
    /* position: relative; */
  }
  .ul {
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 0;
    right: -50px;
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    padding: 0;
    border-radius: 0px;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  .listDropDown {
    display: flex;
    justify-content: center;
  }
  .dropDown {
    background-color: #ffffff;
  }

  .dropDownList a {
    color: #1d1d1d;
  }

  .list {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #888888;
  }
  .list:last-child {
    border-bottom: 1px solid #888888;
  }

  .burger {
    display: flex;
    z-index: 10;
  }

  .line {
    height: 2px;
    width: 25px;
    transition: all 0.3s ease;
  }

  .burgerActive .line2 {
    opacity: 0;
    transform: translateX(-50%);
  }
  .burgerActive .line1 {
    transform: rotate(40deg);
    transform-origin: left;
  }
  .burgerActive .line3 {
    transform: rotate(-40deg);
    transform-origin: left;
  }

  .ulActive {
    transform: translateX(0%);
  }

  .dropDown {
    top: 100%;
  }

  .aboutPart1 {
    flex-direction: column;
  }
  .aboutPart2 {
    flex-direction: column-reverse;
  }

  .aboutPart1Left,
  .aboutPart1Right {
    width: 100%;
  }
  .aboutPart2Left,
  .aboutPart2Right {
    width: 100%;
  }
  .aboutImage1,
  .aboutImage2 {
    width: 500px;
  }
  .aboutPart2Right {
    display: flex;
    justify-content: flex-end;
  }
  .aboutImage2 {
    margin-right: -30px;
  }
  .aboutMainHeading {
    width: auto;
  }
  .aboutPara {
    width: auto;
  }
  .aboutContent {
    width: 60%;
  }
  .aboutPart2Left {
    margin-top: 30px;
  }
  .aboutPart1Right {
    justify-content: flex-start;
  }
  .aboutPart2Left {
    justify-content: flex-start;
  }
  .bannerHeading {
    font-size: 25px;
  }
  .pointContainer {
    flex-direction: column;
    width: 500px;
  }
  .point {
    margin: 5px 0;
  }
  .pointLeft {
    box-shadow: none;
  }
  .course {
    flex-direction: column;
  }
  .courseLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .courseRight {
    width: 100%;
    margin-top: 20px;
  }
  .courseImage {
    width: 300px;
    margin-top: 30px;
  }

  .courseRight {
    text-align: center;
  }
  .cardRight {
    font-size: 14px;
    min-height: 90px;
  }
  .courseMainHeading {
    display: none;
  }
  .courseSubHeading {
    display: none;
  }
  .headingMobile {
    display: inline;
  }
  .cardRight {
    text-align: left;
  }
  .footer {
    flex-direction: column;
  }
  .footerLeft {
    width: 100%;
  }
  .footerRight {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px) {
  .aboutContent {
    width: 90%;
  }
  .bannerHeading {
    font-size: 25px;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .bannerLeft {
    width: 100%;
    border: none;
  }
  .bannerRight {
    width: 100%;
  }
  .preCoursePara {
    width: 100%;
  }
  .pointContainer {
    width: 100%;
  }
  .courseMainHeading {
    font-size: 25px;
    text-align: center;
  }
  .courseSubHeading {
    font-size: 20px;
  }
  .footerMainHeading {
    font-size: 25px;
  }
  .footerListRight {
    font-size: 14px;
  }
  .footerPara {
    font-size: 14px;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .icon i {
    font-size: 25px;
  }
  .ul {
    right: -30px;
  }
}

@media screen and (max-width: 650px) {
  .homeMainHeading {
    font-size: 30px;
  }
  .homePara {
    width: 80%;
  }

  .aboutImage1,
  .aboutImage2 {
    width: 260px;
  }
  .preCourseMainHeading {
    font-size: 30px;
  }
  .preCoursePara {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .homeBackground {
    filter: brightness(30%);
  }
  .homeMainHeading {
    font-size: 25px;
    /* line-height: 45px; */
  }

  .diffLine {
    display: inline;
  }

  .diffLine2 {
    /* display: block; */
  }

  .homePara {
    width: 100%;
    font-size: 15px;
  }
  .logo {
    width: 70px;
  }
  .ul {
    width: 100%;
  }
  .aboutMainHeading {
    font-size: 25px;
  }
  .aboutPart1Right {
    padding: 10px;
  }
  .aboutPart2Left {
    padding: 10px;
  }
  .bannerHeading {
    font-size: 20px;
    font-weight: 400;
  }
  .bannerImage {
    width: 150px;
  }
  .courseMainHeading {
    font-size: 25px;
    text-align: center;
  }
  .courseSubHeading {
    font-size: 18px;
  }
  .coursePara {
    font-size: 14px;
  }
  .cardRight {
    font-size: 12px;
    min-height: 110px;
  }
}
